extends base

block vars
  - var title = 'Dashboard'

block body


  h1 Dashboard
  p.
    Welcome to your dashboard! You are now logged in.


  h2 User Information
    p First Name: #{user.firstName}
    p Last Name:  #{user.lastName}
    p Email:      #{user.email}
    p Data:       #{user.data}

    form(method="post")

    nav
      ul
        li
          <a href="/addnotes">Add Notes</a>
        li
          <a href="/viewnotes">View Notes</a>
        li
          <a href="/index">Upload Images</a>
        li
          <a href="/logout">Logout</a>





