extends base
block vars
  head
    title Simple Upload
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
  body
    header
      h1 Simple image upload.
    main
      section#upload
        form(action='/upload?user_name=#{user.firstName}', method='post', enctype='multipart/form-data')
          label(for='file') Select your image:
          input(type="label", name="user_name", required=false , visibility='hidden')
          input#file(type='file', name='file')
          span.hint Supported files: jpg, jpge, png.
          button(type='submit') upload
